article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

.sub-menu{
  @apply md:invisible md:absolute;
    background: #fff;
    padding: 1rem;
    margin-left: -1rem;
    z-index: 100;
}

.pll-parent-menu-item:hover .sub-menu,
.has-submenu:hover .sub-menu{
    @apply md:block md:visible;
}
.sub-menu li{
    @apply md:m-0 ml-8;
}

.last-menu-element .sub-menu{
  right: 0 !important;
}

.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    float:none;
    width: 100%;
  }

  .woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: none;
    width: 100%;
  }

.term-description{
    @apply mb-4;
}

#shape1{
    margin: 0 0;
    padding: 0 0;
    /*position: absolute;
    top: 0;
    right: 0;
    height: 100%;*/
    /*max-height: 500px !important;*/
    height: 100%;
    
    margin-right: -1px;
}

.cls-1,.cls-2{}
.cls-2{opacity:0.3;}

.opacity-3{opacity:0.3;}

p{
    @apply mb-4;
}

/*** Homepage ***/
.home-tag{
  text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

/*** Woocommerce Product -> more similar to Tutor ***/

/* Product Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs{
    margin: 0 0 0;
    padding: 0 0 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border: none;
    border-bottom-color: inherit;
    background-color: transparent;
    display: inline-block;
    position: relative;
    z-index: 0;
    border-radius: 0 0 0 0;
    margin: 0 0;
    padding: 0 1em;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after{
    display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    background: #fff;
    z-index:2;
    border-bottom: 2px solid var(--tutor-color-primary);
    color: var(--tutor-color-primary);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
    font-weight: initial;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover{
    color: var(--tutor-color-primary);
}
.woocommerce div.product .woocommerce-tabs .panel {
    padding-top: 24px;
    color: var(--tutor-color-secondary);
}
.woocommerce div.product .woocommerce-tabs .panel h2{
    font-weight: 700;
    color: var(--tutor-body-color);
    margin-bottom: 12px;
    line-height: 1.6;
    font-size: 1.25rem;
}



.product .images{
    @apply col-span-2;
}
.slick-list{
    margin: 0 0 0 0;
}

/*** Contact Form ***/

.wpcf7-form{
  @apply grid grid-cols-2 gap-x-4; 

  .wpcf7-form-control-wrap{
    @apply mb-4;
  }

  .your-message{
    @apply col-span-2;
  }

  .wpcf7-form-control:not(.wpcf7-submit):not(.wpcf7-checkbox){
    @apply w-full p-4 rounded-lg bg-white;
  }

  .area-of-interest{
    @apply col-span-2 p-4 mb-4 rounded-lg bg-white;
  }

  .wpcf7-submit{
    @apply bg-white px-4 py-2 text-lg text-rpgray-900 rounded border-solid border-2 border-rpgray-900;
  }

  span[data-name="your-message"]{
    @apply col-span-2;
  }
}



/*.wpcf7{
    @apply bg-rpgreen-500;
}
.wpcf7-form{

    @apply m-0 p-8;

    input {
      @apply block w-full px-4 py-3 mb-3 leading-tight border appearance-none text-rpgreen-900 font-semibold rounded;
      &:focus {
        @apply outline-none;
      }
    }
  
    textarea {
      @apply block w-full px-4 py-3 mb-3 leading-tight rounded border appearance-none text-rpgreen-900 font-semibold;
      &:focus {
        @apply outline-none;
      }
    }
  
    .wpcf7-submit {
      @apply py-2 mr-auto w-40 mt-3 text-lg font-bold text-white border-2 border-transparent bg-rpgreen-900 rounded shadow-md cursor-pointer;
      &:hover {
        @apply bg-white text-rpgreen-900 border-rpgreen-900 shadow-lg;
      }
      &:focus {
        @apply outline-none;
      }
    }
  
    .wpcf7-form {
      @apply flex flex-wrap justify-center w-full max-w-lg mx-auto;
      &.sent {
        .wpcf7-form-control-wrap {
          @apply hidden;
        }
      }
    }
  
    .wpcf7-form-control-wrap {
      @apply w-full mb-0;
      .has-spinner{
          @apply inline;
      }
    }
  
    .wpcf7-not-valid {
      @apply border-red-600;
    }
  
    .wpcf7-not-valid-tip {
      @apply font-semibold text-xs text-red-600 block mb-1 -mt-1;
    }
  
    .wpcf7-response-output {
      @apply rounded border text-sm font-bold mt-0 my-auto relative;
  
      &.wpcf7-validation-errors {
        @apply border-red-600 text-red-600;
      }
  
      &.wpcf7-mail-sent-ok {
        @apply text-rpgreen-900 border-rpgreen-900;
      }
    }
  
  }*/

  .pll-parent-menu-item > a,
  .has-submenu > a{
    position: relative;
  }
  .pll-parent-menu-item > a::after,
  .has-submenu > a::after{
    content: "▼";
   /* border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);*/
    top: -3px;
    right: -15px;
    position: absolute;
  }

  /*.sub-menu a{
    @apply py-2;
    display: block;
  }*/

  $blu: #69A4FC;

details {
  user-select: none;
  & summary svg {transform: rotate(90deg);}
}
details[open] {
  & summary svg {
    transform: rotate(-90deg);  

  }
  
}


details[open] summary ~ *
{	animation: ease-opacity-t-b .5s ease}

summary {
  cursor: pointer;
}
svg {
  transition: all 0.3s;
}

/* TO JE TO - TO JE TAJ */
summary::-webkit-details-marker {
  display: none;
}


:focus {
  outline: none;
}
.show-more {
  display: flex; 
  padding-top: 40px;
  
  a {
    display: inline-block;
    margin: 20px auto;
    padding: 12px 12px;
    color: $blu;
    text-decoration: none;
    border: 1px solid rgba($blu, .8);
    border-radius: 100px;
  }
}




.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: #00449e;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2717"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mm-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mm-slideIn {
  from { transform: translateY(35%); }
    to { transform: translateY(0); }
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mm-fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mm-slideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal[aria-hidden='true'] {
  display: none;
}


/* Homepage */

.hero-content ul{
  list-style-type: disc;
  list-style-position: inside;
}


/*  */
.tax-product_cat {
  .pswp{
    @apply hidden;
  }
  .woocommerce-tabs{
    @apply col-span-3;
  }
  .woocommerce-tabs .columns-4{
    @apply flex;
  }
  .products.columns-4 > div{
    @apply m-1;
  }
}

.woocommerce.columns-5 .products{
  @apply !grid;
}